<div class="row">
    <div class="col-md-12">
        <div class="main-timeline8">
            <div class="timeline" [@animacao-experiencia-1]="estadoExperiencia1">
                <span class="timeline-icon"></span>
                <span class="year">2017</span>
                <div class="timeline-content">
                    <h3 class="title">Experiencia 1</h3>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam accumsan ornare posuere. Nullam est.
                    </p>
                </div>
            </div>
            <div class="timeline" [@animacao-experiencia-2]="estadoExperiencia2">
                <span class="timeline-icon"></span>
                <span class="year">2016</span>
                <div class="timeline-content">
                    <h3 class="title">Experiencia 2</h3>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam accumsan ornare posuere. Nullam est.
                    </p>
                </div>
            </div>
            <div class="timeline" [@animacao-experiencia-3]="estadoExperiencia3">
                <span class="timeline-icon"></span>
                <span class="year">2015</span>
                <div class="timeline-content">
                    <h3 class="title">Experiencia 3</h3>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam accumsan ornare posuere. Nullam est.
                    </p>
                </div>
            </div>
            <div class="timeline" [@animacao-experiencia-4]="estadoExperiencia4">
                <span class="timeline-icon"></span>
                <span class="year">2014</span>
                <div class="timeline-content">
                    <h3 class="title">Experiencia 4</h3>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam accumsan ornare posuere. Nullam est.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
    